---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Colors */
$text-color: #000 !default;
$muted-text-color: #1F5647 !default;
$primary-color: #fff !default;
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: #CA4E00 !default;
$link-color: #CA4E00 !default;
$masthead-link-color: #fff !default;
$masthead-link-color-hover: #000 !default;
$navicon-link-color-hover: mix(#fff, #CA4E00, 20%) !default;

/* contrast syntax highlighting (base16) */
$base00: #000000 !default;
$base01: #242422 !default;
$base02: #484844 !default;
$base03: #6c6c66 !default;
$base04: #918f88 !default;
$base05: #b5b3aa !default;
$base06: #d9d7cc !default;
$base07: #fdfbee !default;
$base08: #ff6c60 !default;
$base09: #e9c062 !default;
$base0a: #ffffb6 !default;
$base0b: #a8ff60 !default;
$base0c: #c6c5fe !default;
$base0d: #96cbfe !default;
$base0e: #ff73fd !default;
$base0f: #b18a3d !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap');

.masthead {
    background-color: #CA4E00;
}
.greedy-nav {
    background-color: #CA4E00;
}
.greedy-nav .hidden-links {
    background: #CA4E00
}

.greedy-nav .visible-links a:before {
    background: #000
}

// .archive__item-teaser{
//     position: relative;
//     border-radius: $border-radius;
//     overflow: hidden;
  
//     img {
//       width: 75%;
//     }
//   }