---
layout: splash
---

<link rel="stylesheet"  href="assets/css/flipclock.css">
<div class="row">
  <figure class="col-sm-4">
      <img class="logos" src="assets\images\hendrixLogo_bob.jpg" alt="image test" height="100" />

  </figure>
  <figure class="col-sm-4" id="titlecard">
      <h1>Solar Eclipse Celebration</h1>
      <!-- to make mobile friendly can make this go away at certain width of screen -->
  </figure>
</div>
<section class="jumbotron" id="countdowntimer">
<div class="container" id="countdowntext">
      <h1 class="display-4">Countdown To Totality</h1>
</div>
<div class="container" id="countdowntext">
<div id="clockdiv">
  <div class="col-md-3">
    <span class="days" id="datenumbers"></span>
    <div class="text">Days</div>
  </div>
  <div class="col-md-3">
    <span class="hours" id="datenumbers"></span>
    <div class="text">Hours</div>
  </div>
  <div class="col-md-3" >
    <span class="minutes" id="datenumbers"></span>
    <div class="text">Minutes</div>
  </div>
  <div class="col-md-3">
    <span class="seconds" id="datenumbers"></span>
    <div class="text">Seconds</div>
  </div>
</div>
</div>
</section>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<script type="text/javascript">
  function getTimeRemaining(endtime) {
    var t = Date.parse("April 08, 2024 12:33:00") - Date.parse(new Date());
    var seconds = Math.floor(t / 1000 % 60);
    var minutes = Math.floor(t / 1000 / 60 % 60);
    var hours = Math.floor(t / (1000 * 60 * 60) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      total: t,
      days: days,
      hours: hours,
      minutes: minutes,
      seconds: seconds
    };
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
      var t = getTimeRemaining(endtime);

      daysSpan.innerHTML = t.days;
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      if (t.total <= 0) {
        clearInterval(timeinterval);
      }
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
  }

  // example 15 days out
  var deadline = new Date(Date.parse(new Date()) + 783 * 24 * 60 * 60 * 1000);
  // people in different timezones will see different dates unless you use UTC
  // Searcn your timezone in UTC
  // then use this format:
  // var deadline = new Date(Date.parse('19 August 2017 19:15:00Z'));

  if (new Date() > deadline) {
    alert('COUNTDOWN COMPLETE! \n Some Call to Action!!!');
  }

  initializeClock('clockdiv', deadline);

</script>